img { 
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}

#question {
    text-align: center;
    margin: 55px;

}

#buttons {
    text-align: center;

}

#next {
    text-transform: capitalize;
    margin: 50px 350px ;
}

.scoreBoard {
    text-align: right;
    font-size: 15px;
}
