body {
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    flex: auto;
}
img { 
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;    
}
#buttons {
    text-align: center;
    color: black;

}
#answer1 {
    background-color: white;
    
}
#answer2 {
    background-color: white;
}
#answer3 {
    background-color: white;
}
#answer4 {
    background-color: white;
}
#next {
    height:40px; 
    width:100px; 
    margin-top: 10px;
    background-color: white;
}
.scoreBoard {
    text-align: right;
    font-size: 15px;
}
  p {
      color: black;
      background-color: darkorange;
      padding: 5px;
    }
.scoreBoard {
    color: white;
}